doctype html
html
  head
    meta(charset='UTF-8')
    title Dynamic Discount
  body(style='background-color:#EDDFCB')
    center
      h1(style='font-family:Helvetica') Dynamic Discount Mechanism
    table(style='width:100%')
      tr
        td
          img(src='img/DiscountExGraph.png', height='300px')
        td
          p(style='font-size:20px;font-family:Helvetica')
            | The dynamic discount feature increases the discount on an expiring good in real time. 
            br
            | The discount can increase automatically over time approaching the expiration date. 
            br
            | Discount alerts get sent out to shoppers.
            br
            |  This is faster than stores are able to get the word out themselves,
            br
            |  and allows price discrimination to maximize store revenues and minimize waste.
          <center><a href = "addItem"><button style="background-color:#09006F; -moz-border-radius: 15px; margin-right: 15%"><font color="white" size="5px">Close</font></button></a></center>
